In [5]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime
import matplotlib.pyplot as plt
from iexfinance.stocks import get_historical_data
from iexfinance.stocks import Stock
import os
from yahoofinancials import YahooFinancials

In [41]:

start_date = '2000-01-01'
end_date = '2020-11-01'
panel_data = web.DataReader(Y,'yahoo', start_date, end_date)
panel_data[['Close','Volume']].to_excel('Y.xlsx')

In [12]:
sympols=pd.read_csv('./Downloads./russel.csv')

In [39]:

y=sympols['Symbol'].str.startswith('Y',na=True)

In [42]:
Y=list(sympols[y]['Symbol'])
len(Y)

5

In [49]:
panel_data[['Close','Volume']]

Attributes      Close                                            Volume  \
Symbols          YELP       YETI   YEXT       YMAB       YORW      YELP
Date
2000-01-03        NaN        NaN    NaN        NaN   5.666667       NaN
2000-01-04        NaN        NaN    NaN        NaN   5.666667       NaN
2000-01-05        NaN        NaN    NaN        NaN   5.625000       NaN
2000-01-06        NaN        NaN    NaN        NaN   5.625000       NaN
2000-01-07        NaN        NaN    NaN        NaN   5.625000       NaN
...               ...        ...    ...        ...        ...       ...
2020-10-26  20.340000  50.650002  17.35  40.650002  45.689999  401200.0
2020-10-27  19.790001  53.070000  17.25  43.270000  45.189999  600800.0
2020-10-28  19.400000  52.270000  16.93  42.299999  43.799999  843500.0
2020-10-29  19.629999  52.250000  17.40  43.360001  42.869999  673000.0
2020-10-30  19.670000  49.480000  16.58  42.740002  42.250000  808200.0

Attributes
Symbols          YETI       YEXT      YMAB     YORW
Date
2000-01-03        NaN        NaN       NaN   1500.0
2000-01-04        NaN        NaN       NaN   1800.0
2000-01-05        NaN        NaN       NaN   3300.0
2000-01-06        NaN        NaN       NaN    600.0
2000-01-07        NaN        NaN       NaN   2700.0
...               ...        ...       ...      ...
2020-10-26   740700.0   991400.0   67900.0  26500.0
2020-10-27  1203400.0   498700.0  277300.0  16100.0
2020-10-28   986500.0  1134400.0  141400.0  19300.0
2020-10-29   716500.0   906100.0  122300.0  34400.0
2020-10-30  1704500.0   863500.0  148200.0  23200.0

[5242 rows x 10 columns]