In [1]:
import csv

In [2]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
Requirement already satisfied: numpy in c:\users\rawan\appdata\local\programs\python\python38\lib\site-packages (from tabula-py) (1.19.2)
Requirement already satisfied: pandas>=0.25.3 in c:\users\rawan\appdata\local\programs\python\python38\lib\site-packages (from tabula-py) (1.1.3)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\rawan\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.25.3->tabula-py) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rawan\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\rawan\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\rawan\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [8]:
import tabula as tb

In [6]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\rawan\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [14]:
import pandas as pd
import os

In [38]:
os.getcwd()

'C:\\Users\\Rawan\\OneDrive\\שולחן העבודה'

In [37]:
os.chdir(
'C://Users//Rawan/OneDrive/שולחן העבודה/')

In [43]:
d=open('./TAPASDATA/Data Analyst Home Assignment.pdf')

In [58]:
one=pd.DataFrame(d)

In [60]:
one

Empty DataFrame
Columns: []
Index: []

In [62]:
Income Date ProductID InvoiceID customerID
300 01/01/2019 A 1234551 1
300 02/01/2020 A 1234552 1
500 03/01/2020 B 1234553 2
400 04/01/2020 C 1234554 3
300 05/01/2019 A 1234555 4
500 05/01/2019 B 1234555 4
400 04/01/2020 C 1234554 3
300 08/01/2020 A 1234556 3
500 08/01/2020 B 1234556 3
300 03/01/2020 A 1234553 2
400 11/01/2020 C 1234557 3
1200 12/01/2020 D 1234561 4
1800 13/01/2020 S 1234565 5
300 14/01/2020 A 1234569 6
500 15/01/2020 B 1234573 7
400 16/01/2020 C 1234577 8
300 17/01/2020 A 1234581 9
400 18/01/2020 C 1234585 10
500 19/01/2019 B 1234589 11
400 20/01/2020 C 1234593 12
1200 21/01/2020 D 1234597 13
700 22/01/2020 G 1234601 14
300 23/02/2020 A 1234605 15
1200 24/02/2019 D 1234609 16
300 25/02/2020 A 1234613 17
400 26/02/2020 C 1234617 18
1200 27/02/2020 D 1234621 19
300 28/03/2019 A 1234625 20
400 29/03/2020 C 1234629 21
1200 30/03/2020 D 1234633 22.to_frame()

SyntaxError: invalid syntax (<ipython-input-62-a8d1d39864a8>, line 1)